services:
  postgres:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - 5432:5432
    volumes:
      - .volumes/postgres:/usr/local/pgsql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d admin"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app-network

  backend:
    build:
      context: .
    tty: true
    environment:
      APP_PORT: 8000
      POSTGRES_DSN: "user=admin password=admin host=postgres port=5432 dbname=admin sslmode=disable"
    ports:
      - 8000:8000
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
