services:
  postgres:
    image: postgres:latest
    command: ["postgres", "-c", "log_statement=all"]
    restart: always
    environment:
      POSTGRES_USER: tests
      POSTGRES_PASSWORD: tests
      POSTGRES_DB: tests
    ports:
      - "15432:5432"
    volumes:
      - .volumes/postgres-tests:/usr/local/pgsql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tests -d tests"]
      interval: 2s
      timeout: 2s
      retries: 10
