services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: tests
      POSTGRES_PASSWORD: tests
      POSTGRES_DB: tests
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tests -d tests"]
      interval: 2s
      timeout: 2s
      retries: 10
