services:
  postgres:
    image: postgres:18
    container_name: postgres-integration-tests
    command: ["postgres", "-c", "log_statement=all"]
    restart: always
    environment:
      POSTGRES_USER: tests
      POSTGRES_PASSWORD: tests
      POSTGRES_DB: tests
    ports:
      - "15432:5432"
    volumes:
      - postgres_data_tests:/var/lib/postgresql/18/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tests -d tests"]
      interval: 2s
      timeout: 2s
      retries: 10

    networks:
      - test-network

volumes:
  postgres_data_tests:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs

networks:
  test-network:
    driver: bridge
